@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700&display=swap);

body {
  width: 100vw;
  overflow-x: hidden;
  background: #f1f1f1;
  height: auto;
  font-family: Roboto;
}


@layer {
  .auth-section {
    @apply w-full h-screen overflow-hidden flex flex-col items-start justify-start px-6 py-4 gap-6;
  }
}
